body {
	position: relative;
}
.navbar .nav,
.navbar .nav > li {
  float:none;
  display:inline-block;
  *display:inline; /* ie7 fix */
  *zoom:1; /* hasLayout ie7 trigger */
  vertical-align: top;
}

.navbar-inner {
  text-align:center;
}
.navbar {
  border: none;
}
.navbar-default {
	background-image: none;
	background-color: white;
	border-color: white;
	box-shadow: none;
}
#frontPage {
	width: 92vw;
	margin-left: 4vw;
	height: 100vh;
	background-image: url("img/people.jpg");
	background-size: cover;
}
#about .container{
	padding-top: 2em;
	margin-bottom: 4em;
	background-color: rgb(210, 221, 236);
}

#logoSVG embed{
	margin-top: 150px;
}
/*.about, .portfolio, .contact{
	height: 1000px;
	background-color: grey;
	margin-bottom: 20px;
}*/

